:host {
  display: block;
  height: 100%;
  background-color: #23212f;
  color: #fff;
  padding-top: 10px;
  position: fixed;
  width: 260px;

  li {
    padding-left: 3px;

    a {
      color: #fff;
      letter-spacing: 2px;
    }

    &.active {
      border-left: 3px solid;
      padding-left: 0;
      background-color: #353246;

      a {
        color: #fff;
      }
    }
  }
}